.container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
  

#logout {
    background: #7465655c;
    margin: 2px;
    padding: 9px;
    font-size: 13px;
}